@import "~reset-css/sass/reset";

* {
  box-sizing: border-box;
  transition: color 0.05s, background-color 0.1s;
}

html,
body {
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
}

body {
  background: var(--color-gray-content);
}

img {
  max-width: 100%;
}

p {
  line-height: 1.2;
}

a {
  color: var(--color-text);

  &:hover {
    color: var(--color-highlight);
  }
}

.container {
  max-width: 1140px;
  position: relative;
  padding: 0 30px;
  margin-right: auto;
  margin-left: auto;

  @include tamanho-tela(desktop) {
    padding: 0 15px;
  }
}

.hideThis {
  display: none;

  @include tamanho-tela(desktop) {
    display: block;
  }
}

.anima-enter-active {
  transform: translate3d(0, -100px, 0);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0;
}

.anima-enter-to {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
